<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head :: head}"></div>
<body>
    <header>
        <nav>
            <div href="/">
                <h1>La Casa de Electricidad</h1>
            </div>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <h2>Bienvenido a La Casa de Electricidad</h2>
            <p>Tu tienda confiable de productos eléctricos.</p>
            <div class="buttons">
                <a href="registro-usuario" class="btn">Registrarse</a>
                <a href="login" class="btn">Iniciar sesión</a>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
