<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head :: head}"></div>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div th:replace="~{fragments/messages :: messages}"></div>
    <main>
        <section th:if="${session.usuariosession != null}" class="welcome" >
            <h2 th:text="'Bienvenido a tu panel ' + ${session.usuariosession.nombre}"></h2>
            <p>Accede a las opciones para gestionar fábricas y artículos.</p>
        </section>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
